<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('预定列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
	        <div class="btn-group-sm" id="toolbar" role="group">
		        <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="rest:reserve:add">
		            <i class="fa fa-plus"></i> 新增
		        </a>
	        </div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
	    </div>
	</div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
    	var mainId = [[${mainId}]]
        var prefix = ctx + "/restaurant/reserve/bind";

        $(function() {
            var options = {
                url: prefix + "/list/"+mainId,
                createUrl: prefix + "/add/"+mainId,
                removeUrl: prefix + "/remove",
                modalName: "菜品",
                pagination: false,
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '主键'
                },
                {
                    field: 'food.foodName',
                    title: '菜品'
                },
                {
                    field: 'price',
                    title: '价格'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
	                    actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        
    </script>
</body>
</html>